.formEnvio {

   
    color: blanchedalmond;
}
.marginLeft {
    margin-left: 10px;
}
body {
    background-color:black;
    /* background-image: url('../storage/img/bgPandora.png');
    background-repeat: repeat;
    background-size: 200px 200px;*/
} 